
@import "../../css/mixinsandfunctions.scss";   

.contact-page-container{
    display: grid;
    row-gap:20px;
    @include media(tablet) {
        // border-radius: 25px;
    display:grid;
        
        
    grid-template-columns: 1fr;
    gap:20px;
    // grid-template-rows: 1fr;




    
        display: grid;
        // grid-template-columns: 1fr 1fr;
        gap: 20px;
        // grid-template-areas: "left-column right-column";
         
        @include media(desktop) {
            grid-template-columns: 1fr 1fr;
        }








}
}

.contact-container >p{
    padding:4px 2px;
}




// .contact-container >h3{
//     padding-bottom: 8px;;
// }
// .home-font{
//     width:100%;
// }


// .contact-title{
//     font-size:50px;
//     grid-area: title;
// }

.left-column{
    // grid-area: left-column;
    // margin:40px;
    display: flex;
    // display: grid;
    row-gap:20px;
    flex-direction: column;
    // flex-direction: column;
    // justify-content: space-around;
    // grid-area: right-column;
}

.right-column{
    display: flex;
    flex-direction: column; 
    row-gap:20px; 
     @include media(tablet) {
    // justify-content: space-evenly;
    justify-content: space-around;




@include media(desktop) {
    justify-content: space-between;
}

}
}
    

.horaires-container{
    background-color:#131f53;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    // border-radius:25px; 
  box-shadow: 4px 3px 5px black;

    padding: 4rem 0rem;
    @include media(desktop) {
    
        padding: 5.9rem;
    
}
}


.contact-title{
    display:flex;
    justify-content: center;
    align-items: center;
    // color:white;
    color:black;
    font-size:1.2rem;
    // text-align: justify;
    @include media(desktop) {
padding-top:9rem;
font-size:2rem;

    }
}



.horaires-container >h2{
    padding-bottom:1rem;
}

.horaires-container  >p{
    padding: 4px;
}