
@import "../../css/mixinsandfunctions.scss";   

.contact-page-container{
    display:grid;
    grid-template-columns: 1fr;
    @include media(tablet) {
        // border-radius: 25px;
        
        
    grid-template-columns: 1fr ;
    // grid-template-rows: 1fr;
}
}

.contact-container >p{
    padding:2px;
}

.contact-container >h3{
    padding-bottom: 8px;;
}