@import "../css/mixinsandfunctions.scss";

.etude-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
    // background: white;
  @include media(desktop) {
  
    grid-template-columns: 1fr 1fr;
  }
  }
  .carousel-container{
    background-color:white;
    padding: 20px;
    align-self: center;
  }