@charset "UTF-8";
* {
  /* remember to define focus styles! */
  /* tables still need 'cellspacing="0"' in the markup */
}
* html,
* body,
* div,
* span,
* applet,
* object,
* iframe,
* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p,
* blockquote,
* pre,
* a,
* abbr,
* acronym,
* address,
* big,
* cite,
* code,
* del,
* dfn,
* em,
* font,
* img,
* ins,
* kbd,
* q,
* s,
* samp,
* small,
* strike,
* strong,
* sub,
* sup,
* tt,
* var,
* dl,
* dt,
* dd,
* ol,
* ul,
* li,
* fieldset,
* form,
* label,
* legend,
* table,
* caption,
* tbody,
* tfoot,
* thead,
* tr,
* th,
* td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
* :focus {
  outline: 0;
}
* body {
  line-height: 1;
  color: black;
  background: white;
}
* table {
  border-collapse: separate;
  border-spacing: 0;
}
* caption,
* th,
* td {
  text-align: left;
  font-weight: normal;
}
* blockquote:before,
* blockquote:after,
* q:before,
* q:after {
  content: "";
}
* blockquote,
* q {
  quotes: "" "";
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: white;
}

#root {
  display: grid;
  grid-template-areas: " header " "main " "footer ";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  row-gap: 20px;
  text-align: justify;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1025px) {
  #root {
    grid-template-areas: " . header ." "  . main .  " "footer footer footer ";
    grid-template-columns: auto 1240px auto;
    padding: 0;
  }
}

#root > header {
  grid-area: header;
}

#root > main {
  grid-area: main;
}

#root > footer {
  grid-area: footer;
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  place-self: center;
  box-shadow: 3px 3px 7px 2px #4054b2;
  height: 300px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .box-image {
    width: auto;
  }
}
h2 {
  font-size: 50px;
  color: red;
  margin-top: 400px;
}

.logo-1 {
  height: 123px;
  width: 90px;
  padding: 2px;
  margin-top: 7px;
}

.logo-not {
  height: 80px;
  width: 90px;
  padding: 2px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  z-index: 200;
  box-shadow: 4px 3px 5px black;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
}

#root > main {
  width: 100%;
  height: 100%;
  background-image: url("../Utils/Façade_6.jpg");
  background-size: cover;
  background-position: center;
}

.home-container > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}

.presentation-title {
  font-size: 50px;
  color: white;
  margin: 0;
}

.presentation-list {
  padding: 10px;
}

.presentation-list > li {
  padding: 10px 0px;
}

#root > main {
  padding: 5px 15px;
}/*# sourceMappingURL=home.css.map */