@import "../css/mixinsandfunctions.scss";
// @import "./variables.scss";

* {
  @include reset;
}
* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: white;
}

// body {
#root {
  display: grid;
  grid-template-areas: " header " "main " "footer ";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  row-gap: 20px;
  text-align: justify;
  margin: 0;
  padding: 0;

  @include media(desktop) {
    // body {
    grid-template-areas:
      " . header ."
      "  . main .  "
      "footer footer footer ";
    grid-template-columns: auto 1240px auto;
    padding: 0;
  }
}
// }

// @import "../../css/mixinsandfunctions.scss";
// @import "./variables.scss";
// * {
//   @include reset;
// }
// * {
//   box-sizing: border-box;
//   font-family: Montserrat, sans-serif;
//   font-weight: 400;
// }

// body {
//   margin: 0;
// }

// :root {
//   // --hauteurHeader: 4rem;
//   --hauteurHeader: 4.2rem;
//   --hauteurHeading: auto;
//   --hauteurFooter: 13rem;
//   // --largeurWrapper: 10px;
//   --largeurContenu: calc(100vw - 20px);
//   --largeurWrapper: 20px;
//   --largeurContenu: calc(100vw - 40px);

//   @include media(desktop) {
//     // --hauteurHeader: 9rem;
//     --hauteurHeader: 7rem;
//     --largeurWrapper: auto;
//     --largeurContenu: 1240px;
//   }
// }

// #root {
//   display: grid;

//   grid:
//     ".      header  .     " var(--hauteurHeader)
//     ".      heading .     " var(--hauteurHeading)
//     ".      main    .     " auto
//     "footer footer footer " var(--hauteurFooter)
//     / var(--largeurWrapper) var(--largeurContenu) var(--largeurWrapper);
//   // grid-template-columns: auto 1240px auto;
//   max-width: 100vw;
//   // min-height: 100vh;
//   row-gap: 5px;
//   // row-gap: 20px;
// }

#root > header {
  grid-area: header;
}
#root > main {
  grid-area: main;
}

#root > footer {
  grid-area: footer;
}



.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  place-self: center;
  box-shadow: 3px 3px 7px 2px #4054b2;
  // width: 100%;
  height: 300px;
  border-radius: 10px;
}
@include media(tablet) {
  .box-image {
    // height: 500px;
    width:auto;
  }
}

// img{
//   width:100%;
//   height: 100%;
// }

h2{
    font-size:50px;
    color: red;
    margin-top: 400px;
}

.logo-1{
  height: 123px;
  // essai
  width: 90px;
  padding:2px;
  // fin essai
  margin-top:7px;
  // border-right:2px solid black;
}
.logo-not{
  height:80px;
  // essai 
  // width:80px;
  width: 90px;
  padding:2px;
  // fin essai
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100%;
  z-index: 200;
  // border: 2px solid black;
  box-shadow: 4px 3px 5px black
}

.home-container{
  display: grid;
  grid-template-columns: 1fr;
  text-shadow: 1px 1px 5px black;
  font-weight: bold;
 
  // padding: 5px;
// @include media(desktop) {

//   grid-template-columns: 1fr 1fr;
// }
}

// .home-container{
#root >main{

  width: 100%;
  height: 100%;
// background-image: linear-gradient(   to right,
// rgba(83, 83, 77, 0.5),
// rgba(165, 157, 36, 0.389)),url("../Utils/Façade_Etude_Copie_modifiée.jpg");




// background-image: linear-gradient(   to right,
// rgba(83, 83, 77, 0.5),
// rgba(235, 141, 41, 0.286)),url("../Utils/Façade_6.jpg");


// background-image: url("../Utils/Façade_Etude_Copie_modifiée.jpg");
background-image: url("../Utils/Façade_8.webp");


// background-image:url("../Utils/Façade_Etude_Copie_modifiée.jpg"); 
// background-image:  linear-gradient(270deg, rgba(255,215,0,1) 0%, rgba(153,153,153,1)),url("../Utils/Façade_Etude_Copie_modifiée.jpg");



// background-image: url("../Utils/Façade_6.jpg");
background-size: cover;
// background-size: contain;
// background-repeat: no-repeat;
background-position: center;
// background-size: auto;


// backdrop-filter: blur(2px);
// background-image: url("../Utils/Façade_8.webp");
}
.home-container >img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.presentation-title{
  font-size:50px;
  // color:black;
  color: white;
  // color: #164F9D;
  // color: #131f53;
  margin:0;
}
.presentation-list{
  // list-style-type: disc;
  padding: 10px;
}
.presentation-list > li{
padding: 10px 0px;

}


#root >main{
  padding: 5px  15px;
  // color: yellow;
  // color: black;
}

// #root >main::before{
  
//     content: ' ';
//     display: block;
//     position: absolute;
//     // left: 0;
//     // top: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 0.4;
//     background-image: url('../Utils/Façade_6.jpg');
//     background-repeat: no-repeat;
//     background-position: 50% 0;
//     background-size: cover;
//   }


// Essai début



// .home-container{
//   position: relative;
//   // background: #5C97FF;
//   background: black;


//   overflow: hidden;
// }
// .home-container::before{
//   content: ' ';
//   display: block;
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   opacity: 0.6;
//   background-image: url('../Utils/Façade_6.jpg');
//   background-repeat: no-repeat;
//   // background-position: 50% 0;
//   background-position: center;
//   background-size: cover;
// }



// Essai fin