@import "../css/mixinsandfunctions.scss";

// // form {
// //     margin-top: 20px;
// //   }
  
// //   .formRow {
// //     margin: 10px 0 20px 0;
// //   }
  
// //   .formInput {
// //     padding: 15px 10px;
// //   }
  
// //   .errorMessage {
// //     color: #f45532;
// //     font-size: 14px;
// //     margin: 0;
// //     padding: 0;
// //   }
  
// //   .submit-btn {
// //     padding: 15px 50px;
// //     border-radius: 10px;
// //     margin-bottom: 25px;
// //   }
  
// //   @media (max-width: 768px) {
// //     .submit-message {
// //       width: 125px;
// //       margin-left: 200px;
// //     }
// //   }



//   h1 {
//     text-align: center;
//     // color: #a8a8a8;
//   }
  
//   form {
//     max-width: 600px;
//     text-align: center;
//     margin: 20px auto;
//   }
  
//   input,
//   textarea {
//     border: 0;
//     outline: 0;
//     padding: 1em;
//     border-radius: 8px;
//     display: block;
//     width: 100%;
//     margin-top: 1em;
//     font-family: 'Merriweather', sans-serif;
//     resize: none;
//   }
  
//   #input-submit {
//     color: white;
//   background: linear-gradient(85deg, #352361 1%, rgb(64, 84, 178) 55%);
// //   background-color: #86b98b;


//     cursor: pointer;
//   }
  
//   #input-submit:hover {
//     box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
//   }
  
//   textarea {
//     height: 126px;
//   }
  
//   .half {
//     float: left;
//     width: 48%;
//     margin-bottom: 1em;
//   }
  
//   .right {
//     width: 50%;
//   }
  
//   .left {
//     margin-right: 2%;
//   }
  
//   @media (max-width: 480px) {
//     .half {
//       width: 100%;
//       float: none;
//       margin-bottom: 0;
//     }
//   }
  
//   .cf:before,
//   .cf:after {
//     content: ' ';
//     display: table;
//   }
  
//   .cf:after {
//     clear: both;
//   }






  input,
textarea {
  border: 1px solid grey;
  outline: 0;
  padding: 10px 0px;
  border-radius: 8px;
  display: block;
  width: 20rem;
  margin-top: 1em;
  font-family: "Merriweather", sans-serif;
  resize: none;

  @include media(desktop) {
    width: 500px;
  }
}

#input-submit {
  color: white;
//   background: #15412b;
  background: linear-gradient(85deg, #352361 1%, rgb(64, 84, 178) 55%);

  cursor: pointer;
  width: 200px;
}

#input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

textarea {
  height: 126px;
  color:black;
}

.btn-close{
  background-color:#86b98b;
  display: flex;
  

}
.submit-btn{
    color: black;
  background-color:#86b98b;

}

// .half {
//   float: left;
//   width: 48%;
//   margin-bottom: 1em;
// }

// .right {
//   width: 50%;
// }

// .left {
//   margin-right: 2%;
// }

// @media (max-width: 480px) {
//   .half {
//     width: 100%;
//     float: none;
//     margin-bottom: 0;
//   }
// }

// .cf:before,
// .cf:after {
//   content: " ";
//   display: table;
// }

// .cf:after {
//   clear: both;
// }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
//   background-color: black;
//   background-color: #86b98b;

}


