@import "../css/mixinsandfunctions.scss";


footer{
    // background-color: black;
    background-color: #131f53;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

// footer >p{
//     // text-align: center;
// }